###################################################
# Windows 
###################################################
#thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
###################################################
# Microsoft Office
###################################################
*.tmp

# Word temporary
~$*.doc*

# Word Auto Backup File
Backup of *.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*

###################################################
# Microsoft Office
###################################################

.gitattributes
diff-word.cmd
Diff-Word.ps1
diff-word-wrapper.cmd
.editorconfig

pandoc.exe
*.dat
*.tmp
/!_Здал !/!!!-Экономика-!!!
/отчет о практике
